body {
	font-family: sans-serif;
	background-color: #C6DDEF !important;
}

button.navbar-toggle {
	margin-right: 40px;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.navbar .navbar-collapse {
		float: right;
		text-align: left;
	}
}