body {
	font-family: Arial;
	background-color: #C6DDEF !important;
}

.navbar.navbar-default {
	background: none;
	border: none;
	margin-bottom: 0;
}

button.navbar-toggle {
	margin-right: 40px;
}

.nav.navbar-nav {
	float: right;
	text-align: left;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

.container .navbar-default .navbar-nav .active {
	color: #000 !important;
 }

.appContent {
	position: relative;
	padding: 20px 60px;
	margin: 20px 60px;
	background-color: #eff1f4;
}

.appContent h1 {
	text-align: center;
	margin-bottom: 60px;
}

.appContent p {
	text-align: justify;
	text-justify: inter-word;
}